@model TaskManagementSystem.Models.ViewModels.AssignTaskViewModel

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Developer to Task: @Model.Task.Title</h2>

<form asp-action="Assign">
    <input type="hidden" asp-for="TaskId" value="@Model.Task.Id" />
    <div class="form-group">
        <label asp-for="SelectedDeveloperId">Select Developer</label>
        <select asp-for="SelectedDeveloperId" class="form-select" asp-items="@(new SelectList(Model.Developers, "Id", "UserName"))">
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Assign" />
        <a asp-controller="Projects" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
</form>